<div >
<footer>
	<md-content>
		<md-toolbar class="credits" md-colors="{background: 'primary-800'}" >
			<div layout="row" layout-align="start center"  >
				<div flex class="text-center">
					<ul>
					<li><span class="md-body-1" >Copyrigth <i class="fa fa-copyright" aria-hidden="true"></i>Reclamo On-Line  2016</span></li>
					<li><span class="md-body-1" >Socials - <a target="_blank" href="https://www.facebook.com/Reclamoonline"><i class="fa fa-facebook" aria-hidden="true"></i></a></span></li>
					<li><span class="md-body-1" ><a href="#/contacto"> Contacto Empresas</a></span></li>
					
					<li><span class="md-body-1" ><a href="https://ssl.comodo.com">
<img src="https://ssl.comodo.com/images/comodo_secure_seal_113x59_transp.png" alt="SSL Certificate" width="113" height="59" style="border: 0px;"><br> <span style="font-weight:bold; font-size:7pt">SSL Certificate</span></a><br>
</span></li>
					<ul>
				</div>
				<div flex class="text-center">
					<ul>
						<li><span class="md-body-1" >Frameworks Credits GPL GNU <i class="fa fa-creative-commons" aria-hidden="true"></i> </span></li>
						<li><span class="md-body-1" ><a href="https://angularjs.org/"> AngularJS</a> - <a href="http://fontawesome.io/"> Font Awesome</a> - <a href="https://material.angularjs.org/"> Angular Material</a></span></li> 
						<li><span class="md-body-1" >Desarrollado por Diego Viqueira</span></li>
					</ul>
				</div>
			</div>
		</md-toolbar>
	</md-content>
</footer>
</div>

